.load-more {
  width: 120px;
  height: 30px;

  font-size: 18px;
  color: snow;
  text-align: center;

  background: linear-gradient(
    175deg,
    rgba(19, 0, 250, 1) 18%,
    rgba(236, 255, 29, 1) 25%,
    rgba(253, 29, 29, 1) 70%,
    rgba(0, 0, 0, 1) 83%
  );

  transform: scale(1);
  transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1),
    transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover,
  &:active {
    transform: scale(1.1);
    background: linear-gradient(
      175deg,
      rgba(236, 255, 29, 1) 25%,
      rgba(253, 29, 29, 1) 70%,
      rgba(0, 0, 0, 1) 83%,
      rgb(19, 0, 250) 18%
    );
  }
}

.load-more.hide {
  visibility: hidden;
  pointer-events: none;
}

.load-more.show {
  visibility: visible;
  pointer-events: all;
}

.load-controls {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 5px;
  margin-top: 5px;
}

.js-allow-infinity {
  cursor: pointer;
}

.js-allow-infinity-label {
  cursor: pointer;
}
